<div class="w-full h-full inset-0 min-h-screen bg-gray-800">
      <div
        style="container-type: inline-size;"
        class="fixed top-0 z-10 left-0 bg-gray-900 h-[10vh] min-h-15 w-full flex justify-between items-center px-[2%]"
      >
        <h1 style="font-size: 5cqi;" class="rationale-regular font-bold text-white">
          Your Tasks
        </h1>
        <div class="flex gap-5">
          <button
            class="bg-green-500 flex justify-center items-center hover:bg-green-700 text-white font-bold py-2 px-4 cursor-pointer duration-300 rounded"
          >
            <button class="cursor-pointer hidden md:block">Add Task</button>
            <div class="h-full aspect-square bg-[url('/plus.png')] bg-cover bg-center block md:hidden"></div>
          </button>
          <button
            routerLink="/dashboard"
            class="bg-blue-500 flex justify-center items-center hover:bg-blue-700 text-white font-bold py-2 px-4 cursor-pointer duration-300 rounded"
          >
            <button class="cursor-pointer hidden md:block">Back</button>
            <div class="h-full aspect-square bg-[url('/arrow.png')] bg-cover bg-center block md:hidden"></div>
          </button>
          <div class="w-10 aspect-square flex justify-center items-center cursor-pointer" style="background-image: url('/gear.png'); background-size: cover; background-position: center;">
            <div class="w-[40%] h-[40%] rounded-[50%] bg-gray-700"></div></div>
        </div>
        
</div>
<div class="w-full flex flex-col gap-5 min-h-[90vh] p-10 mt-[10vh] relative">
    @for(task of tasks(); track task.id){
       <div class="w-full min-h-[15vh] relative bg-gray-700 rounded-2xl">
         <div class="w-[50%] absolute left-0 top-0 h-full rounded-l-2xl bg-gray-500 flex flex-col justify-center gap-2 p-5">
            <h2 class="text-white rationale-regular text-lg md:text-2xl lg:text-6xl font-bold">{{task.title}}</h2>
            <p class="text-gray-300 text-sm md:text-xl lg:text-4xl">Points: {{task.points}}</p>
         </div>
       </div>
    }
</div>
