<div style="container-type: inline-size;" class="fixed top-[50%] lg:w-[40%] max-h-[95vh] overflow-y-scroll md:w-[60%] border-2 border-amber-50 w-[70%] z-10 left-[50%] translate-x-[-50%] translate-y-[-50%] bg-gray-900 p-6 rounded-lg">
            <button (click)="closed.emit()" class="absolute cursor-pointer top-2 right-2 text-white hover:text-gray-300">
              ✕
            </button>
            <h2 style="font-size: 10cqi;" class="text-white text-2xl font-bold rationale-regular text-center">User Settings</h2>
            <p style="font-size: 7cqi;" class="text-gray-300 mt-10"><span class="font-bold">Username: {{username}}</span></p>
            <p style="font-size: 7cqi;" class="text-gray-300"><span class="font-bold">Email: {{email}}</span></p>
</div>